.table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

th, td {
    padding: 10px;
}
.table thead{
    background: #f195b2b5;;
}
.table tbody{
    background: #0000000b;;
}
